header { 
    display: flex;
    position: fixed; 
    background-color: rgb(0, 59, 70); 
    top: 0; 
    right: 0;
    left: 0; 
    height: 42px;
    align-items: center;
    justify-content:space-around;
    
}

.logo {
    display: flex;
    align-items: center;

}

.logotitle {
    width: 175px;
}

.logo-icon {
    width: 60px;
}
