
main {
    padding: 20px 20px 85px 20px;
    display: flex;
    flex-direction: column;
    
}

h1 {
    font-family: "Archivo", sans-serif;
    font-weight: 800;
    
    color: black;
}

main a{
    border: none;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    text-decoration: none;
    font-variation-settings:
        "wdth" 125;
    
}


.add-expense-button{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-style: dashed;
    border-radius: 10px;
    background-color: transparent;
    cursor: pointer;
    opacity: 40%;
    padding: 10px 0px;
    row-gap: 15px;
    transition: opacity 0.15s, background-color 0.15s;
}


.add-expense-button:hover{
    opacity: 70%;
}

.add-icon{
    width: 25px;
    filter: brightness(0%);
    
}


.add-expense{
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 500px;
    width: 60%;

    border-radius: 13px;
    border: none;
    
    background-color: white;
    z-index: 200;

}

.edit-expense{
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); 


    height: 500px;
    width: 60%;

    border-radius: 13px;
    border: none;
    
    background-color: white;
    z-index: 200;
}


.exit-button{

    display: none;
    position: fixed;
 
    clip-path: circle(40%);
    border: none;
    background-color: white;
    font-size: 12px;

    cursor: pointer;
    z-index: 300;
}

.exit-button:hover{
    background-color: rgba(255, 0, 0, 0.679);
}

.backdrop-cover{
    display: none;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;

    z-index: 100;

    background-color: rgba(0, 0, 0, 0.263);
    backdrop-filter: blur(0.4px);
}

.expense-container{
    margin-top: 15px;
    display: flex;
    flex-direction: column;
    row-gap: 2vh;
}

.expense-template{
    display: none;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.4);
    flex-direction: column;
    row-gap: 20px;
    padding: 30px 1vw 10px 1vw;
    min-height: 60px;
    border-radius: 10px;
    overflow: hidden;
    position: relative;
    cursor: pointer;
    background-color: white;
}

.expense-template:hover .type-header{
    opacity: 0.9;
}

.type-header{
    display: flex;
    gap: 1.5vw;
    position: absolute;
    color: white;
    background-color: black;
    top: 0;
    right: 0;
    left: 0;
    padding: 1px 0px 1px 20px;
    font-size: 15px;
    opacity: 65%;
}

.type-icon{
    width: 16px;
  
    object-fit: contain;
}

.expense-header{
    display: flex;
    justify-content: space-between;
    font-size: 25px;
}
.expense-cost{
    font-weight: bold;
    position: relative;
}

.expense-cost::before{
    content: '$';
    position: absolute;
    transform: scale(0.82);
    left: -13px;
    top: -2.5px;

    font-size: inherit;
    


}

.expense-name{
    font-size: 20px;
}

.expense-subsection{
    display: flex;
    justify-content: space-between;
}