main {
    padding: 50px 20px;
    display: flex;
    flex-direction: column;
    overflow: scroll;
}

h2{
    font-size: 15px;
    font-family: arial;
    font-weight: 100;
    margin: 10px 0px;
    color: rgb(131, 131, 131);
}

input {
    border-radius: 5px;
    border-style:solid;
    border-color: lightgray;
    padding: 6px 4px;
    font-size: 17px;
}


.product-section{
    display: grid;
    grid-template-columns: 1.1fr 10fr;
    align-items:end;
    gap: 2%;
    
}

.dropdown-button{
    position: relative;
    border-color: white;
    border-style: none;
    background-color: rgb(20, 69, 99);
    color: white;
    font-size: 15px;
    padding: 5px 10px;
    border-radius: 13px;
    margin-top: 7px;
    cursor: pointer;
}


.dropdown-content {
    display: none;
    position: absolute;
    cursor: default;
    z-index: 100;

}

.dropdown-content p:hover{
    background-color: lightgray; 
}

.dropdown-content.show{
    display: flex;
    flex-direction: column;
    background-color: darkgray;
    height: 70px;
    overflow: hidden;
    border-radius: 3px;
    padding: 5px 7px;
}



.name-section{
    display: flex;
    flex-direction: column;
}

.expense-textbar{
    width: 100%;
    padding-left: 1.2%;
}

.cost-container{
    position: relative;
    display: flex;
}

.money-icon, .calendar-icon, .location-icon{
    width: 22px;
    padding: 0px 6px;
    position: relative;
    left: 4px;
    background-color: lightgray;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    
}

.date-location-container{
    display: grid;
    grid-template-columns: 1fr 4.1fr;
    align-items: center;
    gap: 10px;
    
}

.location-container{
    position: relative;
    display: flex;
}


.date-container{
    position: relative;
    display: flex;

}

.location-textbar{
    width: 100%;
    padding-left: 9px;
}
.date-textbar{
    height: 20px;
    width: 100%;
}


input[type="date"]::-webkit-calendar-picker-indicator {
    color: rgba(0,0,0,0);
    display: inline-block;
    background-repeat: no-repeat;
    height: 70px;
    width: 30px;
    position: absolute;
    left: 4px;
    opacity: 0;
}

input[type="date"]::-webkit-datetime-edit-fields-wrapper{
    position: relative;
}

input[type="date"]::-webkit-datetime-edit{
    position: relative;
    left: 4.75%;
}

.calendar-icon{
    padding-top: 5px;
    padding-bottom: 6px;
}

.add-details-button{
    position: fixed;
    bottom: 60px;
    right: 10px;
    font-size: 30px;
    border-radius: 10px;
    background-color:rgb(20, 69, 99);
    color: white;
    border: none;
    padding: 5px 20px;

}
