header { 
    display: flex;
    position: fixed; 
    background-color: rgb(20, 69, 99); 
    top: 0; 
    right: 0;
    left: 0; 
    height: 40px;
    align-items: center;
    justify-content:space-around;
    
}
