main {
    padding: 20px 20px;
    display: flex;
    flex-direction: column;
    overflow: scroll;
}

main a{
    border: none;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    text-decoration: none;
    
}
.add-expense-button{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-style: dashed;
    border-radius: 10px;
    background-color: transparent;
    cursor: pointer;
    opacity: 40%;
    padding: 10px 0px;
    row-gap: 15px;
    transition: opacity 0.15s, background-color 0.15s;
}

.add-expense-button:hover{
    opacity: 70%;
}

.add-icon{
    width: 25px;
    filter: brightness(0%);
    
}